* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.login-modal {
    padding: 10px 15px;
    background-color: black;
    color: white;
    cursor: pointer;
    border: none;
}

.overlay {
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    z-index: -2;
    margin-top: -41px;
    opacity: 0;
    transition: 1s;
    position: fixed;
    top: 0;
    left: 0;
}

.showoverlay {
    opacity: 1;
    z-index: 1;
}

.loginform {
    width: 300px;
    padding: 30px 20px;
    background-color: white;
    position: absolute;
    top: -50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 0px 10px 3px #ccc;
    transition: 2s;
    z-index: 2;
}

.showloginform {
    top: 50%;
}

.loginform span {
    position: absolute;
    right: 0px;
    top: 0px;
    width: 30px;
    height: 30px;
    background-color: green;
    color: white;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
}

.loginform input {
    width: 100%;
    height: 35px;
    margin-bottom: 15px;
    border: 1px solid;
}

.loginform button {
    background-color: black;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
}